body,html{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    background-color: cadetblue;
}

h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Delius Unicase', cursive;
    color: white;
    top: 5px;
    left: 10px;
}

span{
    color: lightcoral;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Delius Unicase', cursive;
    font-size: 1.2vw;
}

a:hover{
    color: #F0c330;
    transition: 0.5s;
}

img{
    width: 100%;
    margin-top: -16px;
}

div.about{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Delius Unicase', cursive;
    color:royalblue;
}

div.buildCake{
    background-color: lightcoral;
    height: 800px;
}

div.buildFlavor{
    position: absolute;
    padding: 10px;
    float: left;
    margin-left:10px;
    margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    color:royalblue;
    background-color: paleturquoise;
}

div.buildTier{
    position: absolute;
    padding: 10px;
    float: left;
    margin-left: 230px;
    margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    color:royalblue; 
    background-color: paleturquoise;
}

div.buildShape{
    position: absolute;
    padding: 10px;
    float: left;
    margin-left: 430px;
    margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    color:royalblue;
    background-color: paleturquoise;
}

div.buildFrost{
    position: absolute;
    padding: 10px;
    float: left;
    margin-left: 720px;
    margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    color:royalblue;
    background-color: paleturquoise;
}

div.buildTop{
    position: absolute;
    padding: 10px;
    float: left;
    margin-left: 970px;
    margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    color:royalblue;
    background-color: paleturquoise;
}

div.buildSize{
    position: absolute;
    padding: 10px;
    float: left;
    margin-left: 1200px;
    margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    color:royalblue;
    background-color: paleturquoise;
}

div.SpecialtyOrder{
    position: absolute;
    padding: 10px;
    float: left;
    margin-top: 300px;
    margin-left: 10px;
    font-family: 'Questrial', sans-serif;
    color:royalblue;
    background-color: paleturquoise;
}

div.email{
    position: center;
    padding: 10px;
    float: left;
    margin-top: 200px;
    width: 100%;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    color: white;
    background-color:teal;
}

.buildGallery{
    box-sizing: border-box;
}

.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color:lightcoral;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: large;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
    margin-top: 8px;
    margin-left: 650px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: teal;
    padding: 2px 16px;
    color: white;
    font-family: 'Questrial', sans-serif;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div.quote{
      text-align: center;
      width: 100%;
      height: 100%;
  }

  #buttonOrder{
    background-color: white;
    padding: 3px;
    margin-top: 180px;
    margin-left: 900px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
  }

  #resetButton{
    background-color: white;
    padding: 3px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
  }

  #buttonMessage{
    background-color:white;
    padding: 3px;
    margin-top: 3px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
  }
  
  #result{
    padding: 3px;
    margin-left: 800px;
    margin-top: 50px;
    text-align: center;
    background-color: lightcoral;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: xx-large;
  }

  #message{
    padding: 3px;
    text-align: left;
    background-color: lightcoral;
    width: 100%;
    height: 100%;
    color:mediumturquoise;
    font-family: 'Questrial', sans-serif;
    font-size: large;
  }

  div.thanks{
    width: 100%;
    height: 100%;
  }

  h1.cakeHeader{
    font-family: 'Questrial', sans-serif;
    margin-top: 60px;
    margin-left: 500px;
    text-align: center;
    font-size: large;
  }

  

  